/* AUTOPREFIXER */
/* https://autoprefixer.github.io/ */

html, body {
  height: 100%;
  background-color: rgb(100, 163, 228)
}

/* .box {
  display: inline-block;
  background-color: green;
  text-align: center;
  position: relative;
  left: 200px;
  right: 200px;
  top:200px;
}*/


div {
  border: solid 1px black;
}

.logo {
  height: 90%;
  width: 90%;
}

h1 {
  display: inline-block;
  margin: 0 3.5%;
}
.fa-hand-point-down{
  margin-bottom: 1.5%;
}

.text-align {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.container {
  background-color: white;
}
